*{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  display: flex;
}

nav {
  width: 30%;
  text-decoration: none;
  background-color: black;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  height: 10%;
  list-style: none;
  justify-content: center;
  background-color: aqua;
}

footer{
  color: aliceblue;
  height: 15%;
  background-color: black;
  justify-content: center;
}